body {
    margin: 0;
}

/* CONTAINER */ 

.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background-color: rgb(239, 239, 239);
    /* 
    add min-max
    add auto-fit?
    */

}

/* SIDEBAR / DASHBOARD */

.sideBar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: rgb(245, 128, 128);
}

.dashboardContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dashboardContainer > img, h1 {
    padding: 10px;
}

.dashHeading {
    font-size: 1.5em;
    color: rgb(255, 252, 252);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin-right: 30px;
}

.bigDashIcon {
    height: 40px;
    width: 40px;
    color: white;
}

.navList {
    margin-top: 15px;
}

.navItems {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navItems > h2 {
    color: rgb(252, 252, 252);
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 0;
}

.navItems > img {
    padding: 10px;
    margin-left: 15px;
}

.navAdvanced {
    margin-top: 35px;
}

.dashIcon {
    height: 25px;
    width: 25px;
    color: white;
}

/* HEADER */

.header {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
}

.headerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 20px;
}

.search {
    width: 30vw;
    display: flex;
    justify-content: flex-start;
}

.searchBar {
    width: 100%;
    margin-left: 10px;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(253, 213, 213); /* TODO: Add searchbar example text */
}

.headerTop .search, .userIcons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.userIcons > * {
    padding-left: 20px;
}

.username {
    align-self: center;
    margin: 0 6px 0 0;
}

.headerBttm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.userWelcome {
    display: flex;
}

.bigUserIcon {
    height: 70px;
    width: 70px;
    align-self: center;
}

.nameAndTagCol {
    flex-direction: column;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.userNameAndTag {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 22px;
}

.nameAndTagCol > h5 {
    margin: 18px 0 0 0;
    display: flex-start;
    align-self: center;
    font-size: 15px;
}

.userTag {
    margin: 0;
}

.addContent {
    margin-right: 15px;
}

.addContentBtns {
    background-color: red;
    color: white;
    border-radius: 9px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-style: italic;
    margin: auto 5px;
}




/* MAIN > PROJECTS */

.main {
    display: grid;
    grid-column: 2 / 4;
    grid-template-columns: 3fr 1fr; /* CONSIDER making this 3fr to have cool bleed-over effect of right panel*/
}

.eachProjIcon {
    height: 25px;
    width: 25px;
    color: black;
}

.eachProjIcon:hover {
    color: gold;
}

.projects {
    margin: 10px 10px 0 10px;
}

.projContainerTitle {
    margin: 10px auto 6px 15px;
    font-size: 18px;
}

.projsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 10px 0 10px;
}

.project {
    border-left: 5px solid red;
    border-radius: 5px;
    padding: 30px 25px 20px 10px;
    margin: 5px 15px 15px 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
    min-width: 300px;
    box-shadow: 2px 2px 5px rgb(170, 170, 170);
    background-color: rgb(255, 244, 240);
    /* 
    Set max width so only two columns will be on the page, or would it be min-width? 
    and also do auto-fit so that it goes to the next row?
    */
}

.projHeading {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.projDescrip {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(89, 89, 89);
    margin-top: 5px;
}

.projIcons {
    text-align: right;
    padding-right: 20px;
}


/* MAIN > ANNOUNCEMENTS */

.announceAndTrendContainer {
    margin: auto 20px auto auto;
    min-width: 300px;
}

.announcements {
    grid-column: 2 / 4;
    border: 1px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(170, 170, 170);
    background-color: rgb(255, 244, 240);
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.announceCont {
    border-bottom: 1px solid rgb(218, 201, 201);
    padding: 20px 10px;
}

.announceContLast {
    padding: 20px 10px;
}

.announceTitle {
    font-weight: 800;
}

.announceText {
    margin: 5px 0;
}

/* MAIN > TRENDING */

.sectionHeaders {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.trending {
    border: 1px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(170, 170, 170);
    background-color: rgb(255, 244, 240);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    margin-bottom: 50px;
}

.trendingUser {
    grid-column: 1 / 3;
    display: grid;
    margin-bottom: 10px;
    align-items: center;
    vertical-align: center;
}

.heyo {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    align-items: center;
}

.userNameAlt {
    font-weight: bold;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.userSubHeadCont {
    text-align: left;
}

.userSubHead {
    margin: 3px 0 5px 0;
    display: flex;
    text-align: flex-start;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

.userIcon {
    height: 40px;
    width: 40px;
}

.altUserIcon {
    height: 40px;
    width: 40px;
}